{%- set server = salt['grains.filter_by']({
  'Debian': {
    'pkgs': ['bind9', 'bind9utils'],
    'service': 'bind9',
    'config': '/etc/bind/named.conf',
    'config_local': '/etc/bind/named.conf.local',
    'config_options': '/etc/bind/named.conf.options',
    'named_dir': '/var/cache/bind',
    'zones_dir': '/var/cache/bind/zones',
    'user': 'bind',
    'group': 'bind'
  },
  'RedHat': {
    'pkgs': ['bind'],
    'service': 'named',
    'config': '/etc/named.conf',
    'named_dir': '/var/named',
    'zones_dir': '/var/named/data',
    'user': 'named',
    'group': 'named'
  },
}, merge=salt['pillar.get']('bind:server')) %}

{%- set client = salt['grains.filter_by']({
  'Debian': {
    'pkgs': ['bind9utils'],
    'rndc_config': '/etc/bind/rndc.conf',
    'rndc_key': '/etc/bind/rndc.key',
  },
}, merge=salt['pillar.get']('bind:client')) %}
